.mainContainer {
    width: 100%;
    height: 100%;
    padding: 0.5rem 1.5rem;
}

.mainContainer > section {
    margin-bottom: 0.5rem;
    padding-bottom: 0.5rem;

    border-bottom: 2px solid var(--border-color);

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.mainContainer > section:nth-child(2) {
    height: 7rem;
}

.mainContainer > section > p:first-child,
.email > div > p:first-child,
.password > div > p:first-child,
.tools > div > p:first-child {
    font-weight: 500;
    font-size: var(--base-font-size);
}

.mainContainer > section > p:nth-child(2),
.email > div > p:nth-child(2),
.password > div > p:nth-child(2),
.tools > div > p:nth-child(2) {
    color: var(--secondary-text-color);
    font-weight: 400;
    font-size: var(--small-font-size);
}

.header {
    height: 8rem;
    margin-bottom: 0.5rem;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.leftHeader {
    display: flex;
    align-items: center;
}

.profileIcon {
    height: 7rem;
    width: 7rem;

    background-color: grey;
    border-radius: 50%;
}

.headerText {
    margin-left: 1rem;
}

.headerText > P:nth-child(1) {
    font-size: var(--header-font-size);
    font-weight: 500;
}

.headerText > P:nth-child(2) {
    color: var(--secondary-text-color);
    font-size: var(--small-font-size);
}

.fields {
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.pwdFields {
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.newPwdClusters {
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cluster {
    width: calc(50% - 0.5rem);

    display: flex;
    flex-direction: column;
}

.cluster > p {
    color: var(--secondary-text-color);
    font-size: var(--small-font-size);
    font-weight: 500;
}

.cluster > span {
    display: flex;
    align-items: center;
}

.cluster > span > input {
    width: 100%;
    height: 2rem;
    padding: 0.5rem;

    border-radius: 0.25rem 0 0 0.25rem;
    border: 1px solid var(--border-color);
    outline: none;
    font-family: var(--primary-font);
}

.cluster > span > div:not(.anchor) {
    width: 2rem;
    height: 2rem;

    background-color: var(--border-color);
    border: 1px solid var(--border-color);
    border-left: none;
    border-radius: 0 0.25rem 0.25rem 0;
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;
}

.icon {
    width: 1.5rem;
    height: 1.5rem;

    transition: all ease 0.15s;
}

.pwdTools button:hover,
.icon:hover {
    transform: translateY(-1px);
}

.pwdTools button:active,
.icon:active {
    transform: translateY(1px);
}

.anchor {
    position: relative;
}

.passwordReqs {
    width: 15rem;
    height: 5rem;
    padding: 0.5rem;

    background-color: white;
    border-radius: 0.25rem;
    border: 2px solid rgb(87, 87, 194);
    font-size: var(--small-font-size);

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    position: absolute;
    top: -0.45rem;
    left: -50.8rem;
    z-index: 10;
}

.passwordReqs::after {
    content: "";
    position: absolute;
    right: -7px;
    top: 6px;
    transform: translateY(-50%) rotate(45deg);
    width: 10px;
    height: 10px;
    border-top: 2px solid rgb(87, 87, 194);
    border-right: 2px solid rgb(87, 87, 194);
    background-color: transparent;
}

.passwordReqs > span {
    display: flex;
    align-items: center;
}

.passwordReqs > span > div {
    width: 1rem;
    height: 1rem;
    margin-right: 0.25rem;

    color: white;
    border-radius: 50%;
    font-size: var(--small-font-size);

    display: flex;
    justify-content: center;
    align-items: center;
}

.true {
    background-color: rgb(137, 204, 99);
}

.false {
    background-color: rgb(221, 29, 29);
}
