.mainContainer {
    width: 100%;
    height: 100%;

    border-radius: 0.25rem;
    outline: 1px solid var(--border-color);

    display: flex;
    flex-direction: column;
}

.header {
    width: 100%;
    height: 2.5rem;

    border-bottom: 1px solid var(--border-color);

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header h2 {
    margin-left: 0.5rem;

    font-size: var(--header-font-size);
    font-weight: 400;
}

.columnNames {
    width: 100%;
    height: 1.75rem;

    border-bottom: 1px solid var(--border-color);

    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.columnNames > div {
    padding-left: 0.5rem;

    display: flex;
    align-items: center;
}

.columnNames div > p {
    color: var(--secondary-text-color);
    font-size: var(--small-font-size);
}

.items {
    width: 100%;
    height: calc(100% - 4.25rem);

    overflow-y: auto;
}
