.mainContainer {
    height: 3rem;

    outline: none;
    border: none;

    display: grid;
    align-items: center;
}

.mainContainer > input {
    height: 100%;
    width: 100%;

    padding-left: 0.5rem;

    color: var(--primary-text-color);
    background-color: var(--secondary-background-color);
    font-size: 0.9rem;
    border: none;
    outline: none;
    border-bottom: 1px solid var(--border-color);

    display: flex;
    align-items: center;
}

.mainContainer > *, .mainContainer > input {
    border-left: 1px dashed var(--border-color);
}

.mainContainer > *:first-child {
    border-left: none;
}

.mainContainer > input:hover,
.mainContainer > input:focus {
    background-color: var(--hover-color);
}

.journalGridTemplate {
    grid-template-columns: 1.25fr 0.5fr 0.5fr 1.75fr;
}

.transactionGridTemplate {
    grid-template-columns: 0.6fr 1.15fr 1.25fr 1.5fr 0.75fr 0.75fr;
}
