.mainContainer {
    height: 3rem;

    cursor: pointer;
    outline: none;
    border: none;

    display: grid;
    align-items: center;
}

.mainContainer > input {
    height: 100%;
    width: 100%;

    padding-left: 0.5rem;

    color: rgb(53, 53, 53);
    font-size: 0.9rem;
    border: none;
    outline: none;
    border-left: 1px dashed rgba(128, 128, 128, 0.411);
    border-bottom: 1px solid rgba(128, 128, 128, 0.411);

    display: flex;
    align-items: center;
}

.mainContainer > input:nth-child(1) {
    border-left: none;
}

.mainContainer > input:hover, .mainContainer > input:focus {
    background-color: rgba(214, 214, 214, 0.26);
}

.journalGridTemplate {
    grid-template-columns: 1.25fr 0.5fr 0.5fr 1.75fr;
}

.transactionGridTemplate {
    grid-template-columns: 0.5fr 1fr 1.25fr 1.5fr 0.75fr;
}