.mainContainer {
    width: 100%;
    margin-bottom: 0.5rem;

    position: relative;
}

.placeholder {
    width: 100%;
    height: 1rem;
}

.itemBox {
    width: 100%;
    height: 1rem;

    border-radius: 0.5rem;

    position: relative;
    transition: all ease 0.4s;
}

.clicked {
    width: 25rem;
    height: 15rem;

    background-color: var(--background-color);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

    z-index: 100;
}

.absPos {
    position: absolute;
}

.content {
    transition: all ease 0.4s;
}

.abbreviatedContent {
    width: 100%;
    height: 1rem;

    cursor: pointer;

    display: flex;

    transition: all ease 0.4s;
}

.expandedContent {
    width: 100%;
    height: 100%;
}

.header {
    width: 100%;
    padding: 0rem 0.5rem;

    border-radius: 0.5rem 0.5rem 0 0;

    display: flex;

    transition: all ease 0.25s;
}

.header > p {
    transition: all ease 0.4s;
}

.abbreviatedContent .header > p {
    font-size: var(--small-font-size);

    position: relative;
    left: 0rem;
}

.expandedContent .header > p {
    color: white;
    font-size: var(--base-font-size);
    margin: 0.3rem;

    align-self: center;
    position: relative;
    left: -1.25rem;
}

.rentInfo {
    width: 100%;
    height: calc(100% - 2.1rem);
    padding: 0.5rem;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.noDisplay {
    display: none;
}

.statIndicator {
    width: 0.6rem;
    height: 0.6rem;
    margin-right: 0.5rem;

    border-radius: 50%;

    position: relative;
    top: 0.25rem;

    transition: all ease 0.25s;
}

.scheduled {
    background-color: rgb(82, 99, 255);
}

.paid {
    background-color: rgb(96, 224, 124);
}

.overdue {
    background-color: rgb(255, 82, 82);
}

.due {
    background-color: rgb(255, 137, 69);
}

.stat0 {
    background-color: rgb(39, 39, 39);
}

.statTags {
    width: 100%;
    margin-bottom: 0.5rem;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.statTags > p {
    width: calc(100% / 4 - 0.25rem);
    padding: 0.25rem 0;

    color: white;
    border-radius: 0.25rem;
    font-size: var(--small-font-size);
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;

    transition: all ease 0.25s;
}

.inputCluster {
    margin-bottom: 0.5rem;

    display: flex;
    align-items: center;
}

.inputCluster > .label {
    height: 1.5rem;
    padding: 0.25rem;

    color: var(--primary-text-color);
    background-color: var(--secondary-background-color);
    font-size: var(--small-font-size);
    border: 1px solid var(--border-color);
    border-right: none;

    display: flex;
    align-items: center;
}

.inputCluster > input {
    height: 1.5rem;
    padding: 0.25rem 0.5rem;

    background-color: var(--background-color);
    border: 1px solid var(--border-color);
}

.inputCluster > textarea {
    width: 100%;
    padding: 0.25rem 0.5rem;

    border: 1px solid var(--border-color);
    outline: none;
    font-family: "poppins";
    resize: none;
}

.tools {
    width: 100%;

    height: 1.5rem;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.tools > p {
    color: red;
    font-size: var(--small-font-size);
}

.buttons {
    height: 1.5rem;

    display: flex;
    align-items: center;
    justify-content: end;
}

.buttons > button {
    margin-left: 0.25rem;
    padding: 0.25rem 0.5rem;

    color: white;
    cursor: pointer;
    font-family: "poppins";
    font-weight: 500;
    font-size: var(--small-font-size);
    border-radius: 0.25rem;
    border: none;
    outline: none;

    transition: all ease 0.25s;
}

.buttons > button:hover {
    transform: translateY(-1px);
}

.buttons > button:active {
    transform: translateY(1px);
}
