.mainContainer {
    height: 3rem;

    cursor: pointer;

    display: grid;
    grid-template-columns: 0.5fr 1.25fr 1.25fr 1.75fr 0.75fr 0.5fr;
    align-items: center;
}

.mainContainer:hover {
    background-color: var(--hover-color);
}

.mainContainer > p {
    height: 100%;
    width: 100%;

    padding-left: 0.5rem;

    color: var(--primary-text-color);
    font-size: var(--small-font-size);
    border-left: 1px dashed var(--border-color);
    border-bottom: 1px solid var(--border-color);

    display: flex;
    align-items: center;
}

.mainContainer > p:first-child {
    border-left: none;
}

.mainContainer > p:hover {
    background-color: var(--hover-color);
}
