.mainContainer {
    height: 3rem;

    cursor: pointer;
    outline: none;
    border: none;

    display: grid;
    align-items: center;
}

.mainContainer > input {
    height: 3rem;
    width: 100%;

    padding-left: 0.5rem;

    color: var(--primary-text-color);
    background-color: var(--secondary-background-color);
    font-size: 0.9rem;
    border: none;
    outline: none;
    border-left: 1px dashed var(--border-color);
    border-bottom: 1px solid var(--border-color);

    display: flex;
    align-items: center;
}

.mainContainer > input:hover,
.mainContainer > input:focus {
    background-color: var(--hover-color);
}

.noDisplay {
    display: none;
}

.anchor {
    position: absolute;
}

.dropDownContent {
    width: 20rem;
    height: 20rem;

    background-color: var(--background-color);
    color: var(--primary-text-color);
    user-select: none;
    outline: 1px solid var(--border-color);

    display: flex;
    flex-direction: column;

    position: absolute;
    left: 1px;
}

.dropDownContent > p:first-child {
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
    padding-left: 0.5rem;
}

.separatorH {
    width: calc(100% - 1rem);
    height: 1px;
    margin: 0 0.5rem 0 0.5rem;

    background-color: var(--border-color);
}

.accountListing {
    overflow-y: scroll;

    display: flex;
    flex-direction: column;
}

.accountListing > p {
    padding: 0.25rem 0.5rem;

    font-size: 0.9rem;
    font-weight: 300;
    cursor: pointer;

    transition: all 0.25s ease;
}

.accountListing > p:hover {
    background-color: var(--hover-color);
    text-decoration: underline;
}
