.mainContainer {
    width: 20rem;
    height: 2rem;

    cursor: pointer;

    display: flex;
}

.display {
    width: 18rem;
    padding-left: 0.5rem;

    border: 1px solid var(--border-color);

    display: flex;
    align-items: center;
}

.arrow {
    width: 2rem;

    background-color: var(--background-color);
    border: 1px solid var(--border-color);
    border-left: none;
    cursor: pointer;
    user-select: none;

    display: flex;
    align-items: center;
    justify-content: center;
}

.icon {
    width: 1rem;
    height: 1rem;
}

.anchor {
    position: relative;
}

.dropDownContent {
    width: calc(20rem - 2px);
    height: 20rem;

    background-color: var(--background-color);
    color: black;
    outline: 1px solid var(--border-color);
    user-select: none;

    display: flex;
    flex-direction: column;

    position: absolute;
    top: 2rem;
    right: 1px;
}

.dropDownContent > p:nth-child(1) {
    padding-left: 0.5rem;
    margin-top: 0.25rem;
    margin-bottom: 0.5rem;
}

.dropDownContent > p:nth-child(3) {
    padding-left: 0.5rem;
    margin-bottom: 0.25rem;

    font-size: var(--small-font-size);
}

.dropDownContent > input {
    width: calc(100% - 1rem);
    height: 2rem;
    padding: 0.25rem;
    margin-bottom: 0.5rem;
    margin-left: 0.5rem;

    background-color: var(--background-color);
    border: 1px solid var(--border-color);
    font-family: "poppins";
    font-size: var(--small-font-size);
    line-height: 1.5rem;
    outline: none;
}

.separatorH {
    width: calc(100% - 1rem);
    height: 1px;
    margin: 0 0.5rem 0 0.5rem;

    background-color: var(--border-color);
}

.clientListing {
    display: flex;
    flex-direction: column;

    overflow-y: scroll;
}

.clientListing > p {
    padding: 0.25rem 0.5rem;

    font-size: var(--small-font-size);
    font-weight: 300;
    cursor: pointer;

    transition: all 0.25s ease;
}

.clientListing > p:hover {
    background-color: var(--hover-color);
    text-decoration: underline;
}

/* AltStyle begins below this comment */

.altStyle {
    width: 20rem;
    height: 1.5rem;
}

.altStyle .display {
    width: 90%;

    background-color: var(--background-color);
}

.altStyle .display > p {
    font-size: var(--small-font-size);
}

.altStyle .arrow {
    width: 1.5rem;

    background-color: rgb(39, 39, 39);
}

.altStyle .dropDownContent {
    width: calc(20rem - 0.5rem - 2px);

    top: 1.5rem;
}
