.mainContainer {
    height: 3rem;

    outline: none;
    border: none;

    display: grid;
    align-items: center;
}

.mainContainer > input {
    height: 3rem;
    width: 100%;

    padding-left: 0.5rem;

    background-color: var(--background-color);
    color: var(--primary-text-color);
    font-size: var(--small-font-size);
    border: none;
    outline: none;
    border-bottom: 1px solid var(--border-color);

    display: flex;
    align-items: center;
}

.mainContainer > input:hover,
.mainContainer > input:focus {
    background-color: var(--hover-color);
}

.noDisplay {
    display: none;
}

.anchor {
    position: absolute;
}

.dropDownContent {
    width: 20rem;
    height: 20rem;

    background-color: var(--background-color);
    color: black;
    user-select: none;
    outline: 1px solid var(--border-color);

    display: flex;
    flex-direction: column;

    position: absolute;
    left: 1px;
}

.dropdownHeader {
    width: 100%;
    padding: 0.5rem;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.dropdownHeader > button {
    padding: 0.25rem 0.5rem;

    background-color: var(--primary-color);
    color: white;
    cursor: pointer;
    font-family: "poppins";
    font-weight: 500;
    font-size: var(--small-font-size);
    border-radius: 0.25rem;
    border: none;
    outline: none;

    transition: all ease 0.25s;
}

.dropdownHeader > button:hover {
    transform: translateY(-1px);
}

.dropdownHeader > button:active {
    transform: translateY(1px);
}

.separatorH {
    width: calc(100% - 1rem);
    height: 1px;
    margin: 0 0.5rem 0 0.5rem;

    background-color: var(--border-color);
}

.entityListing {
    overflow-y: scroll;

    display: flex;
    flex-direction: column;
}

.entityListing > p {
    padding: 0.25rem 0.5rem;

    font-size: var(--small-font-size);
    font-weight: 300;
    cursor: pointer;

    transition: all 0.25s ease;
}

.entityListing > p:hover {
    background-color: var(--hover-color);
    text-decoration: underline;
}
