.mainContainer {
    width: 100%;
    height: 100%;

    background-color: var(--tertiary-background-color);

    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
    z-index: 10;
}

@keyframes spin {
    0% {
        transform: rotate(-135deg); /* Starts at -135 for 90 degree offset */
    }
    50% {
        transform: rotate(-45deg);
    }
    100% {
        transform: rotate(225deg);
    }
}

.icon {
    height: 10%;

    opacity: .5;

    position: absolute;

    animation: spin 2s linear infinite;
    -webkit-animation: spin 2s linear infinite;
}

.textContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.textContainer > p:first-child {
    color: var(--secondary-text-color);
    font-size: var(--header-font-size);
}

.textContainer > p:last-child {
    color: var(--secondary-text-color);
    font-size: var(--small-font-size);
}
