.label {
    margin-top: 1rem;
}

.typeDiv {
    width: 100%;
    padding-left: 0.25rem;

    border: none;
    border-bottom: 1px solid var(--border-color);
    outline: none;
    font-family: "poppins";
}

.typeDiv {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.typeDiv > p {
    font-size: var(--small-font-size);
}

.placeholder {
    color: grey;
    font-size: var(--small-font-size);
    user-select: none;
}

.icon {
    width: 1.25rem;
    height: 1.25rem;

    user-select: none;
    cursor: pointer;
}

.noDisplay {
    display: none;
}

.anchor {
    position: relative;
}

.dropdown {
    width: 100%;

    background-color: var(--background-color);
    color: black;
    user-select: none;
    border: 1px solid var(--border-color);
    border-top: none;

    display: flex;
    flex-direction: column;

    position: absolute;
}

.dropdown > p {
    width: 100%;
    padding-left: 0.25rem;

    font-size: var(--small-font-size);
    cursor: pointer;
}

.dropdown > p:hover {
    background-color: var(--hover-color);
}

.textArea {
    width: 100%;
    height: 10rem;
    margin-top: 1rem;
    padding: 0.25rem;

    border: 1px solid var(--border-color);
    font-family: "poppins";
    resize: none;
}

.radioCluster {
    width: 100%;
    margin-top: 1rem;

    display: flex;
    justify-content: space-between;
}

.radioCluster > p {
    margin-right: 0.5rem;
}

.toggle {
    width: 50px;
    height: 28px;

    position: relative;
}

.toggle input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

.slider:before {
    width: 20px;
    height: 20px;

    background-color: white;
    content: "";

    position: absolute;
    left: 4px;
    bottom: 4px;

    -webkit-transition: 0.4s;
    transition: 0.4s;
}

input:checked + .slider {
    background-color: var(--primary-color);
}

input:focus + .slider {
    box-shadow: 0 0 1px var(--primary-color);
}

input:checked + .slider:before {
    -webkit-transform: translateX(21px);
    -ms-transform: translateX(21px);
    transform: translateX(21px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.subHeader {
    font-weight: 400;
    font-size: var(--header-font-size);
}

/* .seperatorH {
    width: 100%;
    height: 1px;
    margin-bottom: 1rem;

    background-color: var(--border-color);
} */

.listing {
    height: 16rem;
    width: 100%;

    border: 1px solid var(--border-color);

    display: flex;
    flex-direction: column;
    overflow: scroll;
}

.listingItem {
    width: 100%;
    height: 2rem;
    padding: 0.25rem;

    border-bottom: 1px solid var(--border-color);
}

.listingItem > p {
    font-size: var(--base-font-sizes);
}

.listingItem:hover {
    background-color: var(--hover-color);
    cursor: pointer;
}

.errors > p {
    font-size: var(--small-font-size);
}