.modalOverlay {
    background-color: rgba(0, 0, 0, 0.5);

    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.mainContainer {
    width: 25rem;
    height: 15rem;
    padding: 1rem;

    background-color: var(--background-color);
    border-radius: 0.5rem;
    text-align: center;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.mainContainer > h2 {
    font-weight: 500;
}

.mainContainer button {
    width: 100%;
    padding: 0.25rem 0.5rem;

    background-color: var(--primary-color);
    color: white;
    font-family: "poppins";
    border-radius: 0.25rem;
    border: none;
    outline: none;
    cursor: pointer;
    transition: all 0.25s ease;
}

.mainContainer button:hover {
    transform: translateY(-1px);
}

.mainContainer button:active {
    transform: translateY(1px);
}
