.mainContainer {
    width: 100vw;
    height: 100vh;

    display: flex;
}

.menuContainer {
    width: 15%;
    height: 100%;

    outline: 1px solid red;
}

.contentContainer {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
}

.headerContainer {
    width: 100%;
    height: 10%;

    outline: 1px solid blue;
}

.featuresContainer {
    width: 100%;
    height: 90%;

    outline: 1px solid green;

    display: flex;
    flex-direction: column;
}

.featuresSubOne {
    width: 100%;
    height: 35%;

    display: flex;
}

.temp1 {
    width: 20%;
    height: 100%;
    padding: 0.5rem;
}

.temp2 {
    width: 50%;
    height: 100%;
    padding: 0.5rem;
}

.temp3 {
    width: 30%;
    height: 100%;
    padding: 0.5rem;
}

.featuresSubTwo {
    width: 100%;
    height: 100%;
    padding: 0.5rem;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.subTwoLeft {
    width: 50%;
    height: 100%;
}

.subTwoLeftTop {
    width: 100%;
    height: 35%;

    display: flex;
    justify-content: space-between;
}

.subTwoLeftBot {
    width: 100%;
    height: 65%;
}

.shortWideBlock {
    width: 100%;
    height: 100%;
}

.subTwoRight {
    width: 50%;
    height: 100%;
    padding-left: 1rem;
}

.largeBlock {
    width: 100%;
    height: 100%;

    border-radius: 0.25rem;
    outline: 1px solid rgba(128, 128, 128, 0.301);

    display: flex;
    justify-content: center;
    align-items: center;
}
