.icon {
    height: 1.5rem;
    width: 1.5rem;

    cursor: pointer;
}

.mainContainer {
    width: 100%;
    height: 100%;
    padding: 0.5rem;

    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.mainContainer > .header {
    height: 2.5rem;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.headerInfo {
    display: flex;
    flex-direction: column;
}

.dateDisplay {
    width: 20rem;

    display: flex;
    align-items: center;
}

.dateDisplay > h2 {
    margin-right: 0.5rem;

    font-weight: 400;
}

.anchor {
    position: relative;
}

.dropDownContent {
    padding: 0.5rem;

    background-color: var(--background-color);
    color: black;
    user-select: none;
    outline: 1px solid var(--border-color);

    display: flex;
    flex-direction: column;

    position: absolute;
}

.dropDownContent > span {
    margin-bottom: 0.5rem;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dropDownContent > span .icon:first-child {
    width: 1rem;
    height: 1rem;

    transform: rotate(90deg);
}

.dropDownContent > span .icon:last-child {
    width: 1rem;
    height: 1rem;

    transform: rotate(-90deg);
}

.dropDownContent > span > p {
    font-size: var(--small-font-size);
    line-height: 0.9rem;
    font-weight: 400;
}

.dropDownContent .months {
    text-align: center;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 0.25rem;
}

.dropDownContent .months > p {
    padding: 0.25rem;

    border-radius: 0.25rem;
    font-size: var(--small-font-size);
    cursor: pointer;
}

.dropDownContent .months > p:hover {
    background-color: rgb(0, 0, 0, 0.5);
}

.active {
    background-color: rgb(29, 29, 29);
    color: white;
}

.calendar {
    width: 100%;
    height: calc(100% - 2.5rem);
}

.columnNames {
    width: 100%;
    height: 2rem;

    background-color: var(--border-color);
    border: 1px solid var(--border-color);
    border-bottom: none;

    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 1px;
}

.columnNames > div {
    height: 100%;
    width: 100%;

    background-color: var(--secondary-background-color);

    display: flex;
    align-items: center;
    justify-content: center;
}

.columnNames > div > p {
    color: var(--secondary-text-color);
}

.days {
    width: 100%;
    height: calc(100% - 2rem);
    max-height: calc(100% - 2rem);

    background-color: var(--border-color);
    border: 1px solid var(--border-color);

    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 1px;
}

.dayBox {
    width: 100%;
    height: 100%;
    max-height: 100%;
    padding: 0.5rem;

    background-color: var(--background-color);

    display: flex;
    flex-direction: column;
    align-items: end;
}

.emptyBox {
    background-color: var(--ternary-background-color);
}

.dayBox .header {
    width: 100%;
    height: 1rem;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dayBox .header > div {
    height: 3rem;
    width: 3rem;
    padding: 0.15rem;

    background-color: transparent;
    cursor: pointer;
    overflow: hidden;

    display: flex;
    align-items: start;
    justify-content: start;

    position: relative;
    left: -0.5rem;
    top: calc(0.45rem + 1px);

    opacity: 0;
    transition: opacity ease 0.5s;
    z-index: 0;
}

.dayBox .header > div::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background: linear-gradient(135deg, rgba(0, 0, 0, 0.247), rgba(0, 0, 0, 0) 50%);

    opacity: 0;
    transition: opacity ease 0.5s;
    z-index: 0;
}

.dayBox .header > div:hover::before,
.dayBox .header > div:hover {
    opacity: 1;
}
