.icon {
    height: 1.5rem;
    width: 1.5rem;

    cursor: pointer;
}

.mainContainer {
    width: 100%;
    height: 100%;
    padding: 0.5rem;

    display: flex;
    justify-content: space-between;
}

.calendarContainer {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
}

.calendarContainer > span {
    height: 3rem;

    display: flex;
    align-items: center;
}

.calendarContainer > span > h2 {
    margin-right: 0.5rem;

    font-weight: 400;
}

.calendar {
    width: 100%;
    height: calc(100% - 3rem);
}

.columnNames {
    width: 100%;
    height: 2rem;

    background-color: var(--border-color);
    border: 1px solid var(--border-color);
    border-bottom: none;

    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 1px;
}

.columnNames > div {
    height: 100%;
    width: 100%;

    background-color: white;

    display: flex;
    align-items: center;
    justify-content: center;
}

.days {
    width: 100%;
    height: calc(100% - 2rem);
    max-height: calc(100% - 2rem);

    background-color: var(--border-color);
    border: 1px solid var(--border-color);

    display: grid;
    grid-template-columns: repeat(7, calc(100% / 7));
    grid-template-rows: repeat(5, calc(100% / 5));
    gap: 1px;
}

.dayBox {
    width: 100%;
    height: 100%;
    max-height: 100%;
    padding: 0.5rem;

    background-color: white;

    display: flex;
    flex-direction: column;
    align-items: end;


}
