.mainContainer {
    width: 100%;
    height: 100%;
    padding: 0.5rem;

    display: flex;
    justify-content: space-between;
}

.groupList {
    width: 25%;
    height: 9rem;

    border-radius: 0.25rem;
    outline: 1px solid var(--border-color);

    display: flex;
    flex-direction: column;
}

.supportGroup {
    width: 100%;
    height: 3rem;
    padding-left: 0.5rem;

    background-color: var(--background-color);
    border-bottom: 1px solid var(--border-color);
    cursor: pointer;

    display: flex;
    align-items: center;
}

.supportGroup:last-child {
    border-bottom: none;
}

.supportGroup:hover {
    background-color: var(--hover-color);
}

.supportGroup > p {
    font-size: var(--small-font-size);
}

.groupContent {
    width: calc(75% - 0.5rem);
    height: 100%;

    border-radius: 0.25rem;
    outline: 1px solid var(--border-color);
}

.contentHeader {
    width: 100%;
    height: 3rem;
    padding-left: 0.5rem;

    border-bottom: 1px solid var(--border-color);

    display: flex;
    align-items: center;
}

.contentHeader > h2 {
    font-weight: 400;
}

.content {
    height: calc(100% - 3rem);
    width: 100%;
}
